/* This css file is included by being imported in index.js */

html, body {
    width: 100%;
    background: #f8f8f8;
    color:#419eda;
}

table{
    border: 1px solid #efefef;
}

tr:nth-child(2n) {
    background-color: #d9d9d9;
}

th {
    text-align: center;
    color: #000000;
    background-color: #8e97a8;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    padding: 5px;
}

td{
    width:100px;
    border: 1px solid #efefef;
    padding: 5px;
    text-align: center;
}

.status{
    margin: 10 auto;
    width: 110px;
}

#stompStatus{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width:10px;
    height:10px;
    background: green;
    display: inline-block;
}
